<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Blog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: right;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }

        #logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 10px;
            background-color: #f00;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header>

        <a href="/login"><button>Logout</button><a>

    </header>



    <div class=" container">
        <h1>Welcome to My Blog</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt, purus at suscipit
            tristique, sem
            sapien consectetur ipsum, vel congue lacus justo nec tellus.
        </p>
        <p>
            In this blog, you'll find interesting articles on a wide range of topics. Feel free to
            explore
            and enjoy our
            content!
        </p>
    </div>

</body>

</html>